.board-row:after
{
    clear: both;
    content: "";
    display: table;
}

.square
{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 8rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 33%;
}
  
.square:focus
{
    outline: none;
}